<p-dialog header="{{ header }}" [modal]="true" [(visible)]="visible" (visibleChange)="closeModal(false)"
    [style]="{ width: '25rem' }">

    <form [formGroup]="form" (ngSubmit)="submitData()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input required type="text" class="form-control"
                [class]="!form.controls['nome'].valid && (form.controls['nome'].touched)? 'is-invalid' : null "
                id="exampleFormControlInput1" formControlName="nome">
            <div *ngIf="form.controls['nome']?.invalid && (form.controls['nome'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="form.controls['nome'].errors?.['required']"> Digite um nome.</div>
                <div *ngIf="form.controls['nome'].errors?.['maxlength']">
                    Limite máximo 70 dígitos.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Email</label>
            <input required type="text" class="form-control"
                [class]="!form.controls['email'].valid && (form.controls['email'].touched)? 'is-invalid' : null "
                id="exampleFormControlInput2" formControlName="email">
            <div *ngIf="form.controls['email']?.invalid && (form.controls['email'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="form.controls['email'].errors?.['required']"> Digite um email.</div>
                <div *ngIf="form.controls['email'].errors?.['email']">
                    Digite um email válido.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label ">Celular</label>
            <input mask="(99) 99999-9999" type="text" class="form-control"
                [class]="!form.controls['celular'].valid && (form.controls['celular'].touched)? 'is-invalid' : null "
                id="exampleFormControlInput3" formControlName="celular" >
            <div *ngIf="form.controls['celular']?.invalid && (form.controls['celular'].touched)"
                class="p-0 invalid-feedback d-block">
                <div *ngIf="form.controls['celular'].errors?.['required']"> Digite um número de celular.</div>
                <div *ngIf="form.controls['celular'].errors?.['maxlength']">
                    Limite máximo 15 dígitos.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Telefone</label>
            <input mask="9999-9999" type="text" class="form-control"
                [class]="!form.controls['telefone'].valid && (form.controls['telefone'].touched)? 'is-invalid' : null "
                id="exampleFormControlInput4" formControlName="telefone" >
            <div *ngIf="form.controls['telefone']?.invalid && (form.controls['telefone'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="form.controls['telefone'].errors?.['maxlength']">
                    Limite máximo 9 dígitos.
                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-between">
            <div class="mb-3">
                <p-togglebutton formControlName="sn_favorito" onLabel="Favorito" offLabel="Favoritar"
                    onIcon="pi pi-star-fill" offIcon="pi pi-star" styleClass="w-36" />
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary"  (click)="closeModal(false)" />
            <p-button label="Salvar" [disabled]="!form.valid" type="submit" />
        </div>
    </form>
</p-dialog>