<section>
  <app-header></app-header>
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between ">
          <h3 class=""> Lista de contato </h3>
          <button type="button" class="btn btn btn-outline-success" (click)="showDialog()" >
            <fa-icon size="lg" [icon]="FaPlus"></fa-icon> Contato
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
    <p-table #dt [rowsPerPageOptions]="[5, 10, 20]" [loading]="loading" [paginator]="true" [rows]="5" [columns]="cols"
      [value]="contacts" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #caption>
        <div class="d-flex justify-content-end">
          <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Pesquisar" />
            </p-iconfield>
          </div>
        </div>
      </ng-template>
      <ng-template #header let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <!-- {{ dataForEdit  | json }} -->
            {{col.field === 'nome' || col.field === 'email'  ? rowData[col.field] : null }}
            <div  *ngIf="col.field === 'celular' || col.field === 'telefone'">
                {{ formatNumber(rowData[col.field]) }}
            </div>
            <div  *ngIf="col.field === 'sn_favorito'">
              <p-button [icon]="rowData[col.field] === 'N' ? 'pi pi-star' : 'pi pi-star-fill'" severity="warn" disabled [rounded]="true" [text]="true"></p-button>
            </div>
            <div class="d-flex justify-content-around" *ngIf="col.field === 'acao'">

              <p-button icon="pi pi-pencil" severity="info" rounded (click)="showDialog(rowData)" />

              <p-button icon="pi pi-trash" severity="danger" rounded (click)="contactDelete(rowData)" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>


<app-modal [header]="titleModal"  [visible]="visible" (close)="closeModal($event)" [parentData]="dataForEdit" ></app-modal>

<p-dialog
header="Excluir"
[modal]="true"
[(visible)]="isModalDelete"
[style]="{ width: '25rem' }">
  <p class="text-center">
        Esse item sera excluido da sua lista!
  </p>

    <div class="d-flex justify-content-between gap-2">
      <p-button label="Não" severity="info"/>
      <p-button label="Sim" severity="danger"/>
  </div>
</p-dialog>