<section class="vh-100 bg-color-red-espicify">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card border-radius-card">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/Telephone.jpg" alt="login form" class="img-fluid border-radius-img"
                                />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Login</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3">Entre e veja sua lista de contatos!</h5>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" formControlName="email" id="email" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="pass">Senha</label>
                                        <input type="password" id="pass" formControlName="password"
                                            class="form-control form-control-lg" />

                                    </div>

                                    <div class="pt-1 mb-3 d-flex flex-row-reverse ">
                                        <button
                                            class="btn btn-outline-primary btn-lg btn-block" type="submit">Entrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>